{% extends "base.html" %}
{% block content %}
<main>
    <div class="list-container">
        <div class="coupon-wrap">
            <!-- DBのレコード件数分カードを追加する -->
            {% for item in coupon_list %}
            <div class="card">
                <d class="coupon-info">
                    <p class="shop">{{item["shop_name"]}}</p>
                    <p class="coupon">{{item["coupon_name"]}}</p>
                    <p class="expiration">有効期限：{{item["expiration"]}}</p>
                </d>
                <div class="icon-wrap">
                    <a href="#" class="circle"><i class="fa-solid fa-pen" style="color: #ffffff;"></i></a>
                    <a href="/del/{{item['id']}}" class="circle"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            {% endfor %}
            <div class="plus">
                <a href="/add"><i class="fa-solid fa-plus" style="color: #fff;"></i></a>
            </div>
        </div>
    </div>
</main>
{% endblock %}